# Links
- https://www.kaggle.com/c/restaurant-revenue-prediction

# Solutions:
- 13-th place: https://github.com/bensolucky/TFI
- 14-th place: https://github.com/rohanrao91/Kaggle_TFI (stable on both public and private boards)
- 32-th place: https://github.com/ITankoyeu/Kaggle_TFI

In [8]:
%load_ext autoreload
%autoreload 2

import pipeline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
pipeline.test_validate()

{'RMSE-mean': 2330015.0602685334, 'RMSE-STD': 576278.8487595215}

In [4]:
import pandas as pd
pd.set_option('display.float_format', lambda e: f'{e:.2f}')
stats = pd.read_json('experiments.json').sort_values('RMSE-mean')
stats.T[stats.nunique() > 1]

,0,5,2,1,4,3
RMSE-STD,696388.01,724216.82,760802.35,773110.81,770942.46,782948.36
RMSE-mean,2273463.89,2339395.66,2350349.72,2378698.69,2448658.61,2497804.55
category_encoding,onehot,onehot,count,empyrical_bayes,onehot,onehot
drop_outliers,True,True,True,True,True,False
exec-time-sec,34.53,9.99,33.31,34.17,7.39,8.38
regressor_type,rfr,ard,rfr,rfr,huber,huber